# TraversalSystem stuff
/TraversalSystem/Python39/
/TraversalSystem/pyinstaller/
/TraversalSystem/main.exe

# Visual Studio stuff
/.vs

# VSCode stuff
/.vscode
/.idea

# Built installer
/setup/CATSSetup.exe

.venv/
/TraversalSystem/__pycache__/
/TraversalSystem/route.txt
*.exe
TraversalSystem/route.txt
